[core]
        editor = nano -r 72 -b

[alias]

        prettylog = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
        prettylog2 = log --all --decorate --oneline --graph
        log-dir = !cd ${GIT_PREFIX:-.} && git log --name-status -30 $PWD
        gadd = "!f() { git add **$1*; }; f"
        most-changed="!f() { git log --pretty=format: --name-only --since \"$1\" | sort | uniq -c | sort -rg | head -$2; }; f"
        most-changed-reverse="!f() { git log --pretty=format: --name-only --since \"$1 \" | sort | uniq -c | sort -g | head -$2; }; f"
